body {
    font-family: serif;
    margin: 40px 20% 40px 20%;
    font-size: large;
}

.content {
    padding: 20px;
    border-top: 1px solid gainsboro;
}

small, time {
    font-family: sans-serif;
    color:darkgray
}